* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #444;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.principal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

header {
    background-color: transparent;
    background-image: url(/public/assets/images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

header a {
    display: inline-block;
    font-family: 'Roboto', system-ui, sans-serif;
    font-weight: 600;
    text-decoration: none;
    margin: 20px 20px;
    font-size: 28px;
    padding: 12px 26px;
    color: #000;
    border: 2px solid #d4a927;
    border-radius: 30px;
    transition: all 0.3s ease;
}

header a:nth-child(4) {
    background-color: #EFBB41;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    border-radius: 30px;   
    padding: 10px 20px;
    display: inline-block;
}


header a:hover {
    color: #EFBB41;
    background-color: transparent;
    transform: translateY(2px);
}

header a:nth-child(4):hover {
    background-color: #d4a927;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
    color: #000;
}

.imagem-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 150px;
    flex-wrap: wrap;
    gap: 30px;
}


.introduction {
    max-width: 1000px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    animation: fadeIn 1.5s ease forwards;
}

.introduction h1 {
    font-size: 130px;
    color: #1f1f1f;
    font-weight: 700;
    margin-bottom: 20px;
}

.introduction p {
    font-size: 32px;
    color: black;
    line-height: 1.8;
    font-weight: 400;
    max-width: 900px;
}

.introduction p span {
    color: #EFBB41;
    font-weight: 700;
    font-size: 40px;
    background-color: #1f1f1f;
    border-radius: 12px;
    padding: 8px 12px;
}


.sobre-mim {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 20px;
    background: linear-gradient(to bottom, #e4e2db, #ffffff);
    text-align: center;
}

.sobre-mim .container {
    max-width: 90%;
}

.sobre-mim h1 {
    font-size: 60px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 25px;
    color: #222;
    text-align: center;
}

.sobre-mim p {
    padding-top: 25px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.8;
    margin-bottom: 20px;
    color: #444;
    text-align: justify;
}

.separadora {
    background-image: linear-gradient(to right, #EFBB41, black);
    color: transparent;
    height: 30px;
    width: 100%;
}

.certificados {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 70px;
    padding-left: 60px;
    padding-right: 60px;
}

.secundaria {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    max-width: 60%;
    line-height: 1.6;
    opacity: 0.5;
    transition: opacity 0.5s ease;
}

.secundaria:hover {
    opacity: 1;
}


@keyframes flutuar {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

.certificados img {
    max-width: 35%;
    height: auto;
    margin-left: 40px;
    animation: flutuar 3s ease-in-out infinite;
    border: 8px solid #EFBB41;
}

.certificados {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 70px;
    padding-left: 60px;
    padding-right: 60px;
}

.secundaria {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    max-width: 60%;
    line-height: 1.6;
    opacity: 0.6;
    transition: opacity 0.5s ease;
}

.secundaria:hover {
    opacity: 1;
}

@keyframes flutuar {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

.img-area-trabalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 90px;
}

.img-area-trabalho img {
    height: auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    animation: flutuar 3s ease-in-out infinite;
    border: 8px solid #545049;
}

.img-area-trabalho p {
    max-width: 60%;
    font-size: 25px;
    line-height: 1.6;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: opacity 0.5s ease;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 70px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    background-color: #dad8d3;
    margin-top: 100px;
}

footer a {
    color: #444;
    text-decoration: none;
}

